<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/script.js"></script>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/normalize.css">
    <title>Lista Alazar</title>
</head>
<body>
    <footer
     class="header">
        <h1>Juego Escojer 3 personas alazar</h1>
    </footer>
    <div class="texto-descriptivo">
        <p>Aquí se mostrará la lista de peronas</p>
    </div>
</body>
</html>